<style>
    .closed{
        color : red;
        text-decoration: line-through;
        font-style: italic;
    }
</style>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      //On message from server
      socket.on('newBug', function(msg){
        $("#divMessage").html(msg);
      });
    </script><h1>Bugs</h1>
<hr>
<a href="/bugs/new">Create New</a>
<ol>
    {{#each list}}
    <li>
        {{#if isClosed}}
            <span class="closed">{{name}}</span>
        {{else}}
            <span>{{name}}</span>
        {{/if}}
        <a href="/bugs/toggle/{{id}}">X</a></li>
    {{/each}}
</ol>
<div id="divMessage"></div>
